{% extends 'base.html' %}
{% load static %}


{% load crispy_forms_tags %}


{% block content %}

<title> SecureX | Password reset form </title>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3> Enter new password </h3>

        <p> Please enter your new password twice so we can verify that you typed it in correctly! </p>
        
        <br>
        
        <form method="POST">

            {% csrf_token %}

            {{form|crispy}}

            <br>

            <button type="submit" class="btn btn-info btn-log w-100 btn-block p-3"> Update Password </button>

        </form>

    </div>

{% endblock %}

