{% extends 'base.html' %}
{% load static %}


{% load crispy_forms_tags %}


{% block content %}

<title> SecureX | Password reset </title>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3> Password reset </h3>

        <p> Forgotten your password? Enter your email below, and we'll email you instructions to set a new one. </p>
        
        <br>
        
        <form method="POST">

            {% csrf_token %}

            {{form|crispy}}

            <br>

            <button type="submit" class="btn btn-info btn-log w-100 btn-block p-3"> Send email </button>

        </form>

    </div>

{% endblock %}

















